.table {
    width: 100%;
    border-collapse: collapse;
}

.body tr:nth-child(odd) {
    background: #e3f5ec;
}

.body td {
    padding: 5px;
}

.empty {
    background: #ffffd2;
    text-align: center;
    padding: 32px 0;
}
