.wrapper {
  display: flex;
  justify-content: space-around;
  padding: 32px;
  align-items: center;
}
.wrapper button {
  width: 40px;
  height: 40px;
  background: #c1c1fd;
  border-radius: 50%;
  border: 1px solid #c1c1fd;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}
.wrapper span {
  cursor: pointer;
}
.active {
  color: cornflowerblue;
}
